<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>92935106451-66d06dn7ji83d8vpii7gogqsvn4l9g1l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.92935106451-66d06dn7ji83d8vpii7gogqsvn4l9g1l</string>
	<key>API_KEY</key>
	<string>AIzaSyDymBm1NVzSdHqMStzcfuH4pVu466UgLVg</string>
	<key>GCM_SENDER_ID</key>
	<string>92935106451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.boraerdem.TestableApp</string>
	<key>PROJECT_ID</key>
	<string>disabledperson-322c1</string>
	<key>STORAGE_BUCKET</key>
	<string>disabledperson-322c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:92935106451:ios:68e5dc62ed038e2b544266</string>
</dict>
</plist>